EFF/2016/V1_3/D3/SiteWeb/SiteWeb/Service References/ServiceBien/ServiceBienfaisants.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="nb_Bienfaisants">
        <s:complexType />
      </s:element>
      <s:element name="nb_BienfaisantsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="nb_BienfaisantsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="nb_BienfaisantsSoapIn">
    <wsdl:part name="parameters" element="tns:nb_Bienfaisants" />
  </wsdl:message>
  <wsdl:message name="nb_BienfaisantsSoapOut">
    <wsdl:part name="parameters" element="tns:nb_BienfaisantsResponse" />
  </wsdl:message>
  <wsdl:portType name="BienfaisantsSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="nb_Bienfaisants">
      <wsdl:input message="tns:nb_BienfaisantsSoapIn" />
      <wsdl:output message="tns:nb_BienfaisantsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BienfaisantsSoap" type="tns:BienfaisantsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="nb_Bienfaisants">
      <soap:operation soapAction="http://tempuri.org/nb_Bienfaisants" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BienfaisantsSoap12" type="tns:BienfaisantsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="nb_Bienfaisants">
      <soap12:operation soapAction="http://tempuri.org/nb_Bienfaisants" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Bienfaisants">
    <wsdl:port name="BienfaisantsSoap" binding="tns:BienfaisantsSoap">
      <soap:address location="http://localhost:1443/ServiceBienfaisants.asmx" />
    </wsdl:port>
    <wsdl:port name="BienfaisantsSoap12" binding="tns:BienfaisantsSoap12">
      <soap12:address location="http://localhost:1443/ServiceBienfaisants.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>